.childDetails {
  // Using Flex to centre divs without using screen size
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3vh;
  padding-top: 40px;

  .childCalendar {
    width: 60vw;
  }

  .notificationPanel {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40vh;
    margin-right: 10px;
    .notificationParentTitle {
      font-size: 20px;
    }
  }
}

.MuiAlert-message{
  text-align: center;
  width: 350px;
}


