.childDetails {
  // Using Flex to centre divs without using screen size
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3vh;
  padding-top: 40px;

  .childCalendar {
    width: 70vw;
    
  }

  .notificationPanel {
    width: 30vw;
    text-align: center;
  }
}



