.miniCalendarWrapper {
  width: 300px;
}
.miniCalendarSelected{
  background-color: #47bc56 !important;
}

.react-calendar__tile--now {
  background-color: #e1e4e1;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background-color: white;
  color: black;
}

.react-calendar__tile--active{
  background-color: white;
  color: black;
}