.secretaryWrapperPage {
    background-image: url("maplewood.jpg");
    background-size: cover;
    width: calc(100vw - 10px);
    height: calc(100vh - 205px);
    margin-top: -20px;
    margin-left: -23px;
    overflow: hidden;
    .welcomePageTitleTextBox {
      padding-top: 20px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -150px;
      margin-left: -15vw;
      text-align:center;
      background-color: rgba(255, 255, 255, 0.9);
      width: 30vw;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .titleText {
        font-size: 30px;
        font-weight: 600;
      }

      .schoolNameText {
        font-size: 50px;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        vertical-align: middle;
      }
    }
}

.appBarStyle {
  background-color: #47bc56 !important;
}

.PrivateTabIndicator-colorSecondary-99 {
  background-color: white !important;
}

.MuiTabs-indicator {
  background-color: white !important;
}
  