.secretaryWrapperPage {
    .backWrapper {
      height: 4vh;
      width: 4vw;
      margin-left: 10px;
      .backButton {
        width: 4vw;
        position: absolute;
        filter: invert(60%) sepia(54%) saturate(502%) hue-rotate(77deg) brightness(93%) contrast(91%);
      }
      
      .backCircleWrapper {
        position: absolute;
        height: 4vw;
        width: 4vw;
        border-radius: 50%;
      }
    }

    .secretaryInnerPage {
      padding-left: 4vw;
    }
  }
  