.outerWrapperLoginPage {
  background-image: url("school.jpg");
  object-fit: contain;
  width: 100vw;
  height: 100vh;
  
  .innerWrapperLoginPage {
    
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align:center;
    margin-left: 35vw;
    margin-top: calc(50vh - 276px);
    .test {
      width: 30vw;
      padding-left: calc(15vw - 150px);
    }
    .loginPageTitleText {
      padding-top: 20px;
      font-size: 24px;
      font-weight: 600;
    }
    .wrapperLoginPageButton {
      padding-top: 20px;
    }
  }
}