.outerWrapperLoginPage {
  background-image: url("school.jpg");
  width: 100vw;
  height: 100vh;

  .innerWrapperLoginPage {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15vh;
    margin-left: -15vw;
    width: 30vw;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align:center;

    .loginPageTitleText {
      padding-top: 20px;
      font-size: 24px;
      font-weight: 600;
    }
    .wrapperLoginPageButton {
      padding-top: 20px;
    }
  }
}