.tileRow {
  // Using Flex to centre divs without using screen size
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  height: 20vh;
  padding-bottom: 3vh;
  padding-top: 40px;
  .tileShapePresent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    border-radius: 15px;
    border: 4px solid rgba(71,188,86, 0.9);
    width: 20vw;
  }
  .tileShapeLate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    border-radius: 15px;
    border: 4px solid rgba(236, 208, 48, 0.9);
    width: 20vw;
  }
  .tileShapeAbsent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    border-radius: 15px;
    border: 4px solid rgba(196, 22, 22, 0.9);
    width: 20vw;
  }
  .tileShape:hover {
    background-color: rgba(50, 128, 61, 0.5);
  }
  .tileShapeLate:hover {
    background-color:  rgba(192, 169, 42, 0.5);
  }

  .tileShapeAbsent:hover {
    background-color: rgba(148, 3, 3, 0.5);
  }

  .schoolNameChildTile {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    color: rgb(77, 75, 75)
  }
}

